<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="book">
  <select id="findAll" resultType="bookVO">
    select * from book
  </select>
  
  <select id="getBook" resultType="bookVO">
    select * from book where bookid = #{bookid}
  </select>
  
  <update id="update" parameterType="bookVO">
  	update book set bookname=#{bookname}, price=#{price}, publisher=#{publisher} where bookid=#{bookid}
  </update>
  
  <delete id="delete">
  	delete book where bookid=#{bookid}
  </delete>
</mapper>
